.bg-section {
    background-color: #58A1CC;
    background-image: url(../../../../assets/img/login-bg.png);
    background-repeat: no-repeat;
    background-position: bottom -3% right -40%;
    background-size: 95% 55%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;   
  }

  .bg-stripes-1 {
    right: 35%;
    top: 40%;
    left: 0;
    bottom: 52%;
    transform: rotate(315deg) translateX(-7%);
    transform-origin: left center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent);
  }

  .bg-stripes-2 {
    right: 0;
    top: 0;
    left: 60%;
    bottom: 92%;
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.3));
    transform-origin: right center;
    transform: rotate(320deg) translate(8%, -50%);
  }

  .bg-stripes-3 {
    right: 10%;
    top: 40%;
    left: 50%;
    bottom: 52%;
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.3));
    transform-origin: center;
    transform: rotate(40deg);
  }

  .bg-text-container {
    margin-top: 30%;
  }

  .login-content {
    width: 435px;
  }

  @media (max-width: 991.98px) {
    .login-content {
      width: 320px;
    }    
   }

  .text_head{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    color:  rgba(115, 130, 163, 1);
  }

 