<div class="container-fluid">
    <div class="row vh-100 overflow-hidden">
        <div class="col-md-6 bg-section position-relative h-100 d-none d-md-block">
            <div class="bg-text-container text-white">
                <h1 class="fs-1">Welcome to Coyna</h1>
                <p>Simplify. Automate. Thrive</p>
            </div>
            <div class="bg-stripes-1 position-absolute"></div>
            <div class="bg-stripes-2 position-absolute"></div>
            <div class="bg-stripes-3 position-absolute"></div>      
        </div>
        <div class="col-md-6 h-100 overflow-auto">
            <div class="d-grid justify-content-center align-items-center h-100">
                <div class="login-content pt-3">
                    <div class="text-center">
                        <img src="../../../../assets/img/Coyna.png" class="mb-4" height="81">
                        <h1 class="mb-4 text-title">Forgot Password ?</h1>
                    </div>
                    <div class="text"><span style="text-align: center; font-size: small;" >Please enter you email address to receive a password reset link.</span></div>
                    <form class="py-5"  [formGroup]="forgotForm">
                        <mat-form-field appearance="outline" class="w-100 mb-2">
                            <mat-label>Email</mat-label>
                                    <input matInput placeholder="Enter Email" id="emailId" name="emailId" formControlName="emailId" autofocus
                                    [ngClass]="{
                                    'is-invalid': submitted && f['emailId'].errors,
                                     'is-valid': submitted && !f['emailId'].errors}">   
                                     <mat-error *ngIf="submitted && f['emailId'].errors">Email is required</mat-error>
                        </mat-form-field>
                        <div class="mt-4">
                            <div class="text-center text-title"><a href="javascript:void()" class="text-decoration-none text-linear" (click)="TryAnotherWay()">Try another way</a></div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-primary btn-lg w-100 d-block" (click)="onSubmit()">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>