.mat-mdc-table {
    box-shadow: none;
    border-radius: 10px;
    border-collapse: separate;
  }
  
  .mdc-data-table__header-cell {
    border-bottom-width: 0;
    // border-bottom-width: 0 !important;
    border-top: 1px solid #DDDDE1;
  }
  
  .mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid #DDDDE1;
  }
  
  .mat-mdc-table .mdc-data-table__header-row .mdc-data-table__header-cell:first-child,
  .mat-mdc-table .mdc-data-table__row .mdc-data-table__cell:first-child {
    border-left: 1px solid #DDDDE1;
  }
  
  .mat-mdc-table .mdc-data-table__header-row:first-child .mdc-data-table__header-cell:first-child {
    border-top-left-radius: 10px;
  }
  
  .mat-mdc-table .mdc-data-table__header-row:first-child .mdc-data-table__header-cell:last-child {
    border-top-right-radius: 10px;
  }
  
  .mat-mdc-table .mdc-data-table__header-row .mdc-data-table__header-cell:last-child,
  .mat-mdc-table .mdc-data-table__row .mdc-data-table__cell:last-child {
    border-right: 1px solid #DDDDE1;
  }
  
  .mat-mdc-table .mdc-data-table__row:last-child .mdc-data-table__cell:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .mat-mdc-table .mdc-data-table__row:last-child .mdc-data-table__cell:last-child {
    border-bottom-right-radius: 10px;
  }
  
  :host ::ng-deep .mdc-data-table__row:last-child .mdc-data-table__cell {
    border-bottom: 1px solid #DDDDE1;
    // border-bottom: 1px solid #DDDDE1 !important;
  }
  
  .mdc-data-table__cell {
    border-bottom-color: #DDDDE1;  
  }
  
  .mdc-data-table__cell {  
    color: #29294F;
  }
  
  :host ::ng-deep .mat-mdc-table .mat-mdc-header-cell {
    background-color: #F8FAFB;
    // background-color: #F8FAFB !important;
    color: #58A1CC;
  }