<div mat-dialog-title class="d-flex flex-row flex-nowrap align-items-center pt-3">
  <img src="../../../../assets/img/product.svg" width="46" height="46" class="flex-shrink-0">
  <h1 class="text-title ms-3 flex-grow-1 mb-0">Product</h1>
  <span class="close-btn material-symbols-outlined text-title" mat-dialog-close>close</span>  
</div>
<mat-dialog-content class="py-4">
  <form [formGroup]="ProductForm" class="product-form-container">
    <!-- item -->
    <div>
      <mat-form-field class="w-100">
        <mat-label>Product</mat-label>
        <input matInput placeholder="Enter Product" formControlName="name">
        <mat-error *ngIf="this.ProductForm.invalid">Product is required</mat-error>           
      </mat-form-field>
    </div>

    <!-- item -->
    <div class="d-flex flex-column item-image">
      <h3 class="text-title mb-2 fw-bold flex-shrink-0">Add Image</h3> 
      <div ng2FileDrop [uploader]="uploader" class="well my-drop-zone ng2FileDropZone d-flex flex-column flex-wrap justify-content-center p-3 flex-grow-1">
        <input type="file" accept="image/*" class="d-none hidden-file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />        
        <span *ngIf="this.image" class="flex-grow-1 mb-2 position-relative">
          <span class="position-absolute top-0 bottom-0 start-0 end-0">
            <img *ngIf="this.image" class="mw-100 mh-100 w-100 h-100 object-fit-contain" [src]="this.image" alt="logo" />
          </span>          
        </span>
        <span  class="flex-grow-0 flex-shrink-0"(click)="fileInput.click()">
          <img width="40" height="40"  src="../../../assets/img/icons/company_upload.svg" alt="logo" />
          <span class="text-title ps-3">Upload image</span>
        </span>
      </div>
    </div>

    <!--  -->
    <div class="">
      <mat-form-field class="w-100">
        <mat-label>SKU</mat-label>
        <input matInput placeholder="Enter SKU" formControlName="sku">
        <mat-error *ngIf="this.ProductForm.invalid">SKU is required</mat-error>           
      </mat-form-field>
    </div>

    <!--  -->
    <div class="">
      <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Department</mat-label>
        <mat-select placeholder="Select" formControlName="departmentId" required 
        [ngClass]="{
          'is-invalid': submitted ,
           'is-valid': submitted}">
          <mat-option matInput *ngFor="let obj of DepartmentList" [value]="obj.departmentId">
            {{obj.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted">Department is required</mat-error>                                             
      </mat-form-field>
    </div>

    <!--  -->
    <div class="">
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Description" formControlName="description">
        <mat-error *ngIf="this.ProductForm.invalid">Description is required</mat-error>           
      </mat-form-field>
    </div>
    <!--  -->
    <div class="">
      <mat-form-field class="w-100">
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Enter Quantity" formControlName="qtyInStock">
        <mat-error *ngIf="this.ProductForm.invalid">Quantity is required</mat-error>           
      </mat-form-field>
    </div>
    
    <!--  -->
    <div class="">
      <mat-form-field class="w-100">
        <mat-label>Sales Price/Rate</mat-label>
        <input matInput placeholder="Enter Sales Price/Rate" formControlName="price">
        <mat-error *ngIf="this.ProductForm.invalid">Sales Price is required</mat-error>           
      </mat-form-field>
    </div>

    <!--  -->
    <div class="">
      <mat-form-field appearance="outline"  class="w-100">
        <mat-label>Income Account</mat-label>
        <mat-select placeholder="Select" formControlName="coaCompanyId" required 
        [ngClass]="{
          'is-invalid': submitted ,
           'is-valid': submitted}">
          <mat-option matInput *ngFor="let obj of IncomeAccountList" [value]="obj.id">
            {{obj.coaName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted">Income Account is required</mat-error>                                             
      </mat-form-field>
    </div>
    
    <!--  -->
    <div class="text-end">
      <button class="coy-btn coy-btn-light-primary w-75 h-100" (click)="onCancelClick()"><span class="">Cancel</span></button>
    </div>
    <div>
      <button class="btn btn-primary btn-lg w-75" (click)="SaveNewProduct()" ><span class="">Save</span></button>   
    </div>
  </form>
</mat-dialog-content>
<!-- <mat-dialog-actions class="product-action-container">
  <div class="text-end">
    <button class="btn btn-primary btn-lg" (click)="onCancelClick()"><span class="">Cancel</span></button>
  </div>
  <div>
    <button class="btn btn-primary btn-lg" (click)="SaveNewProduct()" ><span class="">Save</span></button>   
  </div>
</mat-dialog-actions> -->