

$pink-palette: (
  50: #e5f6fb,
  100: #bde7f4,
  200: #96d7ed,
  300: #78c7e5,
  400: #69bbdf,
  500: #60afda,
  600: #58a1cc,
  700: #4f8fb8,
  800: #497ea4,
  900: #3c5e80,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);