.loginpglogo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.d-login .btn.btn-primary {
    background: #e614d4;
    border: none;
}
.d-login-container { 
   background: #000;
}