<div class="">
  <div class="title text-title text-center font-manrope">Product / Service Information</div>
  <span class="close-btn material-symbols-outlined position-absolute" mat-dialog-close>close</span>
  <div>
    <div class="info-section d-flex flex-row flex-nowrap align-items-center" mat-dialog-close="product">
      <div class="flex-shrink-0">
        <img src="../../../../assets/img/product.svg" width="80" height="80">
      </div>
      <div class="flex-grow-1 ms-4">
        <div class="text-title fs-18 fw-bold mb-1">Product</div>
        <p class="opacity-50">Products you buy and/or sell but don't need to (or can't) track quantities of, for example, nuts and bolts used in an installation.</p>
      </div>
    </div>
    <div class="divider mb-3"></div>
    <div class="info-section d-flex flex-row flex-nowrap align-items-center" mat-dialog-close="service">
      <div class="flex-shrink-0">
        <img src="../../../../assets/img/service.svg" width="80" height="80">
      </div>
      <div class="flex-grow-1 ms-4">
        <div class="text-title fs-18 fw-bold mb-1">Service</div>
        <p class="opacity-50">Service that you provide to customers, for example, landscaping or tax preparation services.</p>
      </div>
    </div>
  </div>
</div>

