table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.pagetitle select.form-control {
  height: auto !important;
}
.dflexdiv  {
  justify-content: flex-start;
}
.dflexdiv  .viewbtn {
  margin-right: 10px;
}